---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
NamespaceIndentation: All
AllowShortEnumsOnASingleLine: false
PointerAlignment: Left
IndentAccessModifiers: false
AccessModifierOffset: -4